<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <main>
    {% block img %}
    {% endblock %}
    <header>
      <h2 class="home">Home</h2>
      <nav>
        <a href="">Home</a>
        <a href="">Properties</a>
        <a href="">Services</a>
        <a href="">About</a>
        <a href="">Contact</a>
      </nav>
      <div class="box">
        <div class="sign">
          <span class="material-symbols-outlined">
            person
            </span>
          <span>Sign up</span>
        </div>
        <div class="page-mode">
          <span class="material-symbols-outlined">
            sunny
            </span>
            <span class="material-symbols-outlined">
              dark_mode
              </span>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>