{% extends 'main/base.html' %}
{% block title %}
contact
{% endblock %}
{% block body_class %}contact{% endblock %}

{% block content %}
<section class="contact_main">
    <div class="contact_main_flex">
    <div class="contact_main_left">
        <h2>CONTACT US</h2>

        <p><strong>TELEPHONE:</strong>+966 57263883764</p>
        <p><strong>EMAIL:</strong>+966 57263883764</p>
        <p><strong>ADRESS:</strong><div class="contact_adress">
            <p>ANAS BIN MALIK,RIYADH</p>
            <p>BULIDING W-12</p>
            <p>SAUDI ARABIA</p>
        </div></p>
    </div>
    <div class="contact_main_right"><iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.069042986978!2d46.72505437566318!3d24.827312377951053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efc6d472d42af%3A0x24b3a53de9cbc5c3!2sPark%20Avenue%20Mall!5e0!3m2!1sen!2ssa!4v1740972034498!5m2!1sen!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>
</section>
{%endblock%}