{%extends 'main/base.html'%}
{%load static%}

{%block title%}
Home
{%endblock%}
{%block body-img%}
contact-bacground
{%endblock%}

{%block content%}
<h1 class="sub-title">contact us</h1>
<section class="contact-info">
   <div class="content">
        <div class="tel">
            <h3>
                telephone:
            </h3>
            <a href="tel:+96657263883764">
                +966 57263883764
            </a>

        </div>
        <div class="mail">
            <h3>
                email:
            </h3>
            <a href="mailto:info@realestate.com">info@realestate.com</a> 

            
        </div>
        <h3>
            address:

        </h3>
        <h4>
            anas bin malik,riyadh<br>
            building w-112<br>
            saudi arabia
        </h4>
            
   </div>
  
    <div class="location-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.081638445062!2d46.72533007482552!3d24.826881596601364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efc6d472d42af%3A0x24b3a53de9cbc5c3!2sPark%20Avenue%20Mall!5e0!3m2!1sen!2ssa!4v1741051198495!5m2!1sen!2ssa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{%endblock%}