{% extends 'main/base.html' %}
{% block title %}
Homepage
{% endblock %}
{% block content %}

<section class="home_center">
    <div class="left">
    <h1 class="animated-text">FIND YOUR DREAMS</h1>
    <p>Our catlog will suprise you. Rather, discover an unprecendented offers of luxry properires our catlog will surprise you. Rather, discover an unprecendented offers of luxry properties</p>
    <button>Explore properties</button>
</div>
<div class="right"></div>
</section>
<section class="home_bottom">
    <a class="home_bottom_house" href=""><span class="material-symbols-outlined">
        house
        </span>all</a>
        <a href=""><span class="material-symbols-outlined">
            door_back
            </span>PROPERTIES</a>
    <a href=""><span class="material-symbols-outlined">
        hotel
        </span>HOTEL</a>
   
        <a href=""><span class="material-symbols-outlined">
            villa
            </span>VILLA</a>
</section>
</main>
{% endblock %}