{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RealEstate{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    
    

</head>
<body class="light-mode">

    <header>
        <nav>
            <h1>HOME</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'properties' %}">Properties</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <div class="actions">
                <button id="dark-mode-toggle">🌙</button>
                <i class="fa fa-user"></i>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
