{% load static %}  <!-- Load static files in Django template -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home page{% endblock %}</title>

    <!--JS-
    <script src="script.js" defer></script>-->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="dark-mode">

    <!-- Container for logo, navigation bar, and sign-up button -->
    <div class="header-container">
        <!-- Logo -->
        <section class="logo-container">
            <a class="logo">HOME</a>
        </section>
        <!-- Navigation bar -->
        <nav class="navbar0">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'properties' %}">Properties</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <!-- Buttons -->
        <div class="buttons">
            <button class="signup">
                <span class="material-icons">person</span> Sign Up
            </button>            
            <button class="mode-toggle" id="light-mode">
                <span class="material-icons">wb_sunny</span>
            </button>
            <button class="mode-toggle" id="dark-mode">
                <span class="material-icons">nights_stay</span>
            </button>
        </div>
    </div>

    <header>
        <!-- Header content -->
    </header>

    <main>
        <div class="container mt-5" id="content-container">
            <!-- Content block -->
            {% block content %}
            <!-- Some content -->
            {% endblock %}
        </div>
    </main>
</body>

</html>
