*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  "Phudu";
    background-color: #dfdfdf ;
    background-image:url(../images/skyscraper.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 38vh;
  
}
main{
    
   
}
.nav{
    margin-top: 2rem;
    position: sticky;
    top: 2rem;
    display: flex;
    align-items: center;
    margin-left: 16rem;
    gap: 14rem;
    
}
.nav_right
{
    margin-right: 8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem
    

}
.nav_right a
{
    text-decoration: none;
    color: black
    

}

.nav_center{
    display: flex;
    background-color: white;
    padding: 2rem 6rem;
    border-radius: 4rem;
    gap: 4rem;
    align-items: center;
}

.nav_center a{
   text-decoration: none;
   color: black;
   font-weight: 400;
}
.nav_left h2{
    font-weight: 500;
    font-size: 3rem;
    
}
.home_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    margin: 5rem 16rem;
    width: 38%;

}
.home_center h1{
    font-size: 10rem;
}
.home_center p{
    font-weight: 450;
}

.home_center button{
    display: flex;
    margin-top: 1rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 3rem;
    color: white;
    font-size: 1rem;
    margin-top: 30rem;

}
.animated-text {
          
    animation: textGrow 1s ease-in;
  }

  @keyframes textGrow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
.home_bottom{
    justify-content: center;
    background-color: rgba(252, 252, 252, 0.829);
    background-position: center;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 5rem;
    align-items: center;
    align-content: center;
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}
.home_bottom a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.home_bottom_house span{
    background-color: rgb(41, 102, 41);
    color: green;
    
}