{% extends 'base.html' %}
{%block page%}contact{%endblock%}
{% block content %}
    <div class="contact-container">
        <div class="contact-info">
            <h1>HOME</h1>
            <h2>CONTACT US</h2>

            <p><strong>TELEPHONE:</strong> 
                <a href="tel:+96657263883764" class="contact-link">+966 57263883764</a>
            </p>
            <p><strong>EMAIL:</strong> 
                <a href="mailto:info@realestate.com" class="contact-link">info@realestate.com</a>
            </p>
            <p><strong>ADDRESS:</strong><br>
               Tuwaiq Academy<br>
                Riyadh<br>
                SAUDI ARABIA
            </p>
        </div>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.7510765771494!2d46.710342774766964!3d24.854047477933484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efbd2d9c324c7%3A0x9124f530f1b56443!2sTuwaiq%20Academy!5e1!3m2!1sen!2ssa!4v1741061503972!5m2!1sen!2ssa" width="600" height="450" style="border:0;" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
